.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.desktop-image-render {
    width: 100%;
}

.desktop-image-render img {
    width: 100%;
    min-height: 580px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}