.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.desktop-image-render {
    width: 100%;
}

.desktop-image-render img {
    width: 100%;
    min-height: 580px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}


@media screen and (max-width: 1080px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 724px) {
    .gallery {
        display: flex;
        min-width: 100%;
        overflow-x: scroll;
    }

    .desktop-image-render {
        min-width: 100%;
        height: 320px;
    }

    .desktop-image-render img {
        min-height: 100%;
        height: 100%;
        width: 100%;
    }
}