.categories {
    max-width: 1660px;
    margin: 0 auto;
    padding: 40px 40px;
}

.categories-title {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.categories-title a {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(25%);
    transition: all .3s ease;
}

.categories-arrow {
    opacity: 0;
    margin-left: 10px;
    transform: translate(-50%, 5px);
    transition: all .3s ease;
}

.categories-text-wrap p {
    font-size: 18px;
    color: grey;
}

.categories-title a:hover {
    transform: translate(-25%);
}

.categories-title a:hover span {
    opacity: 1;
    transform: translate(50%, 5px);
}

.products-item {
    margin: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.products-item:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 520px) {
    .categories {
        padding: 56px 24px;
    }

    .categories-title {
        font-size: 24px;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 22px;
    }

    .categories-title a {
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: left;
        transform: translate(0%);
        transition: all .3s ease;
        margin-top: 12px;
        font-size: 22px;
    }

    .categories-title a:hover {
        transform: translate(1%);
    }
    
    .categories-title a:hover span {
        opacity: 1;
        transform: translate(15%, 5px);
    }
}